<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VUE</title>
        <script src="http://apps.bdimg.com/libs/fastclick/1.0.0/fastclick.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="../lib/aui/css/aui.2.0.css" charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <script src="../dist/jsbridge.js" charset="utf-8"></script>
        <script type="text/javascript">
            window.addEventListener('load', function() {
                FastClick.attach(document.body);
            }, false);
        </script>
        <script src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js" charset="utf-8"></script>
    </head>
    <body>
        <p style="margin:60px;">
            
        </p>
        <div id="demo">
            <h1>Latest Vue.js Commits</h1>
            <template v-for="branch in branches">
                <input type="radio"
                    name="branch"
                    :id="branch"
                    :value="branch"
                    v-model="currentBranch">
                <label :for="branch">{{branch}}</label>
            </template>
            <p>vuejs/vue@{{currentBranch}}</p>
            <ul>
                <li v-for="record in commits">
                    <a :href="record.html_url" target="_blank" class="commit">{{record.sha.slice(0, 7)}}</a>
                    - <span class="message">{{record.commit.message | truncate}}</span><br>
                    by <span class="author">{{record.commit.author.name}}</span>
                    at <span class="date">{{record.commit.author.date | formatDate}}</span>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
        var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='


        function mockData () {
            this.commits = mocks[this.currentBranch]
        }

        /**
        * Actual demo
        */

        bridge.init(function(){
            var demo = new Vue({

            el: '#demo',

            data: {
            branches: ['master', 'dev'],
            currentBranch: 'master',
            commits: null
            },

            created: function () {
            this.fetchData()
            },

            watch: {
            currentBranch: 'fetchData'
            },

            filters: {
            truncate: function (v) {
              var newline = v.indexOf('\n')
              return newline > 0 ? v.slice(0, newline) : v
            },
            formatDate: function (v) {
              return v.replace(/T|Z/g, ' ')
            }
            },

            methods: {
            fetchData: function () {
              bridge.emit('showLoading');
              var xhr = new XMLHttpRequest()
              var self = this
              xhr.open('GET', apiURL + self.currentBranch)
              xhr.onload = function () {
                self.commits = JSON.parse(xhr.responseText)
                console.log(self.commits[0].html_url);
                bridge.emit('hideLoading', {}, function(){});
              }
              xhr.send()
            }
            }
            })
        });


        </script>
    </body>
</html>
